# Налаштування середовища розробки CLion
.idea/

# Папки з результатами збірки CMake
cmake-build-*/

# Зкомпільовані об'єктні файли та виконувані файли (якщо збиратимете вручну)
*.o
*.out
*.exe

# Системні файли macOS
.DS_Store